:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #07aff8;
  --color-secondary: #204791;
  --color-dark: #061e41;
  --color-bg: #02101d;
  --color-btn: #038dbf;
  --color-border:#275da9;

  /* Fonts */
  --font-roboto: "Roboto";
}
