:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #07aff8;
  --color-secondary: #204791;
  --color-dark: #0b2447;
  --color-bg: #04152d;
  --color-btn: #00bbff;
  --color-border:#081931;

  /* Fonts */
  --font-roboto: "Roboto";
}
